<launch>
      <!-- -->
      <!-- mjpeg stream to ros image topic -->
      <node pkg="nodelet" type="nodelet" name="mjepg_client"
            args="standalone mjpeg_client/MjpegClient" output="screen">
            <remap from="image/compressed" to="mjpeg_image/compressed"/>
            <!-- someone's axis camera -->
            <param name="server" value="207.115.90.134"/>
            <param name="path" value="/axis-cgi/mjpg/video.cgi?camera=1"/>
            <!-- another's sony camera -->
            <!--<param name="server" value="38.118.78.21"/>-->
            <!--<param name="path" value="/mjpeg"/>-->
            <!-- optional authorization (run "echo -n username:password | base64" to get your encoded string)-->
            <!--<param name="authorization" value="Basic cm9vdDpyb2JvY3Vw"/>-->
            <param name="timeout" value="5."/>
            <param name="frame_id" value="mjpeg_camera"/>
      </node>
      <!-- -->
      <!-- viewer -->
      <node pkg="rqt_image_view" type="rqt_image_view" name="image_view" output="screen"
            args="/mjpeg_image/compressed">
      </node>
</launch>