<launch>
      <!-- -->
      <!-- mjpeg stream to ros image topic -->
      <node pkg="nodelet" type="nodelet" name="mjepg_client"
            args="standalone mjpeg_client/MjpegClientOSC" output="screen">
            <remap from="image/compressed" to="mjpeg_image/compressed"/>
            <param name="server" value="192.168.1.1"/>
            <param name="timeout" value="5."/>
            <param name="frame_id" value="theta"/>
      </node>
      <!-- -->
      <!-- viewer -->
      <node pkg="rqt_image_view" type="rqt_image_view" name="image_view" output="screen"
            args="/mjpeg_image/compressed">
      </node>
</launch>